$gray-300: rgba(70, 70, 70, .1);
$light-green-300: rgba(107, 178, 82, 1);
$gray-500: rgba(116, 116, 116, 1);
$gray-100: rgba(232, 232, 232, 1);
$black-300: rgba(33, 37, 41, 1);
$black-100: rgba(66, 70, 73, 1);
$orange-300: rgba(247, 164, 34, 1);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    font-family: 'Nunito';
    width: 100%;
    backdrop-filter: blur(0);
    
// ------------ MENU START ------------------ //
    .left-nav-bar {
        background: #fff;
        height: 100vh;
        width: 0px;
        position: fixed;
        transition: .4s;
        top: 0;
        left: 0;
        overflow-x: hidden;
        z-index: 1;

        p {
            margin: 4%;
        }

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            display: flex;
            align-items: flex-end;
            color: $black-300;
        }

        ul {
            margin-top: 6%;
            margin-left: 5%;
            list-style-type: none;
            
            li {
                display: flex;
                align-items:flex-end;
                width: 90%;
                font-size: 1.1rem;
                height: 4rem;
                border-bottom: 2px dotted $gray-100;
                padding-bottom: 3%;
            }

            .menu-icon {
                margin-right: 4%;
                margin-left: 2%;
            }
        }
    }
}
// ------------ MENU END ------------------ //

.top-nav-bar {
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;

    img {
        height: 2.5rem;
        margin-left: 16px;
    }

    button {
        background: none;
        border: none;
        height: 2rem;
        width: 2rem;
        cursor: pointer;
        margin-left: 16px;
    }
    #menu-icon {
        // position: relative;
        // margin-left: 16px;
    }

    form {
        margin-left: 34px;
        // background: lightgray;
        background-color: $gray-300;
        width: 500px;
        border-radius: 15px;

        input, select {
            height: 3rem;
            background-color: transparent;
            border: none;
            color: #fff;
            font-family: 'Nunito';
            color: gray;
            font-size: 1.1rem;

        }

        input {
            width: 260px;
            margin-left: 34px;
            padding: 10px;
        }
        
        .search-icon {
            transform: translate(105%, 25%);
        }

        select {
            width: 110px;
            margin-left: 24px;
        }
    }

    .home-pages {
        display: flex;
        list-style-type: none;
        // font-family: 'Nunito';
        margin-left: 170px;
        font-weight: 700;
        font-size: 1.1rem;

        a {
            color: black;
            text-decoration: none;
        }

        select {
            border: none;
            font-family: 'Nunito';
            font-weight: 700;
            font-size: 1.1rem;
            margin-left: 35px;
        }
    }

    .nav-icons {
        margin-left: 250px;
        .n-icon {
            margin-left: 20px;
        }
    }

}


// -- ---------------------- NAV BAR END --------------------------------  -->

// -- ---------------------- FIRST WINDOW START --------------------------------  -->

.first-window {
    background-image: url(../images/banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 793px;
    // font-weight: 300;
    // background-size: cover;

    section {
        padding-top: 96px;
        margin-left: 20px;

        h1 {
            width: 724px;
            height: 192px;
            font-size: 5rem;
            font-family: 'Inter';
            font-weight: 300;
            letter-spacing: -3.2px;
        }

        h2 {
            margin-top: 16px;
            font-size: 1.6rem;
            letter-spacing: 0.48px;
            width: 420px;
            height: 48px;
            color: $gray-500;
            font-weight: 500;
        }

        .organic {
            color: $light-green-300;
            font-weight: 700;
        }

        .doorsteps {
            font-weight: 700;
            color: $black-300;
        }
        
        button {
            margin-top: 32px;
            border-radius: 40px;
            height: 57.6px;
            font-size: 1rem;
            font-family: 'Inter';
        }

        .startshop-btn {
            width: 189.6px;
            background-color: $light-green-300;
            color: #fff;
            border: none;
        }

        .startshop-btn:hover {
            cursor: pointer;
            background-color: $orange-300;
            transition: .2s;
        }

        .joinnow-btn {
            margin-left: 21.16px;
            width: 133.6px;
            border: none;
            background-color: $black-300;
            color: #fff;
        }
        
        .joinnow-btn:hover {
            cursor: pointer;
            background-color: $black-100;
            transition: .2s;
        }

        ul {
            display: flex;
            margin-top: 48px;
            list-style-type: none;
            font-family: 'Inter';
        }

        li {
            font-size: 40px;
            font-weight: 700;
            // margin-right: 150px;
        }

        .li-item {
            display: flex;
            // align-items: first baseline;
        }

        p {
            width: 100px;
            margin-left: 23px;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.48px;
            margin-right: 42px;
            font-size: 16px;
        }
        
        .xli-item {
            p {
                width: 180px;
                transform: translateX(-11%);
            }
        }
    }    
}

// -- ---------------------- FIRST WINDOW END --------------------------------  -->


