$gray-300: rgba(70, 70, 70, .1);
$light-green-300: rgb(107, 178, 82);
$gray-500: rgb(116, 116, 116);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    font-family: 'Nunito';
    width: 100%;
}

.top-nav-bar {
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;

    img {
        height: 2.5rem;
        margin-left: 16px;
    }

    #menu-icon {
        margin-left: 16px;
    }

    form {
        margin-left: 34px;
        // background: lightgray;
        background-color: $gray-300;
        width: 500px;
        border-radius: 15px;

        input, select {
            height: 3rem;
            background-color: transparent;
            border: none;
            color: #fff;
            font-family: 'Nunito';
            color: gray;
            font-size: 1.1rem;

        }

        input {
            width: 260px;
            margin-left: 34px;
            padding: 10px;
        }
        
        .search-icon {
            transform: translate(105%, 25%);
        }

        select {
            width: 110px;
            margin-left: 24px;
        }
    }

    .home-pages {
        display: flex;
        list-style-type: none;
        // font-family: 'Nunito';
        margin-left: 170px;
        font-weight: 700;
        font-size: 1.1rem;

        a {
            color: black;
            text-decoration: none;
        }

        select {
            border: none;
            font-family: 'Nunito';
            font-weight: 700;
            font-size: 1.1rem;
            margin-left: 35px;
        }
    }

    .nav-icons {
        margin-left: 250px;
        .n-icon {
            margin-left: 20px;
        }
    }
}


// -- ---------------------- NAV BAR --------------------------------  -->

.first-window {
    background-image: url(/Grocery-Store/images/banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 743px;
    // font-weight: 300;
    // background-size: cover;

    section {
        h1 {
            width: 724px;
            height: 192px;
            border: 2px solid red;
            font-size: 5rem;
            font-family: 'Inter';
            font-weight: 300;
        }

        h2 {
            width: 406px;
            height: 48px;
            border: 2px solid blue;
            color: $gray-500;
            font-weight: 500;
        }

        .organic {
            color: $light-green-300;
            font-weight: 700;
        }

        .doorsteps {
            font-weight: 700;
        }
        
        button {
            border-radius: 40px;
            height: 57.6px;
            font-size: 1rem;
            font-family: 'Inter';
        }

        .startshop-btn {
            width: 189.6px;
            background-color: $light-green-300;
            color: #fff;
            border: none;
        }

        .joinnow-btn {
            width: 133.6px;
            border: none;
            background-color: #000;
            color: #fff;
        }
    }
}

