$gray-300: rgba(70, 70, 70, .1);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    font-family: 'Nunito';
}

.top-nav-bar {
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;

    img {
        height: 2.5rem;
        margin-left: 16px;
    }

    #menu-icon {
        margin-left: 16px;
    }

    form {
        margin-left: 34px;
        // background: lightgray;
        background-color: $gray-300;
        width: 500px;
        border-radius: 15px;

        input, select {
            height: 3rem;
            background-color: transparent;
            border: none;
            color: #fff;
            font-family: 'Nunito';
            color: gray;
            font-size: 1.1rem;

        }

        input {
            width: 260px;
            margin-left: 34px;
            padding: 10px;
        }
        
        .search-icon {
            transform: translate(105%, 25%);
        }

        select {
            width: 110px;
            margin-left: 24px;
        }
    }

    .home-pages {
        display: flex;
        list-style-type: none;
        // font-family: 'Nunito';
        margin-left: 170px;
        font-weight: 700;
        font-size: 1.1rem;

        a {
            color: black;
            text-decoration: none;
        }

        select {
            border: none;
            font-family: 'Nunito';
            font-weight: 700;
            font-size: 1.1rem;
            margin-left: 35px;
        }
    }

    .nav-icons {
        margin-left: 250px;
        .n-icon {
            margin-left: 20px;
        }
    }
}