* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  font-family: "Nunito";
  width: 100%;
  backdrop-filter: blur(0);
}
.container .left-nav-bar {
  background: #fff;
  height: 100vh;
  width: 0px;
  position: fixed;
  transition: 0.4s;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
}
.container .left-nav-bar p {
  margin: 4%;
}
.container .left-nav-bar a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  color: rgb(33, 37, 41);
}
.container .left-nav-bar ul {
  margin-top: 6%;
  margin-left: 5%;
  list-style-type: none;
}
.container .left-nav-bar ul li {
  display: flex;
  align-items: flex-end;
  width: 90%;
  font-size: 1.1rem;
  height: 4rem;
  border-bottom: 2px dotted rgb(232, 232, 232);
  padding-bottom: 3%;
}
.container .left-nav-bar ul .menu-icon {
  margin-right: 4%;
  margin-left: 2%;
}

.top-nav-bar {
  display: flex;
  align-items: center;
  height: 84px;
  width: 100%;
}
.top-nav-bar img {
  height: 2.5rem;
  margin-left: 16px;
}
.top-nav-bar button {
  background: none;
  border: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  margin-left: 16px;
}
.top-nav-bar form {
  margin-left: 34px;
  background-color: rgba(70, 70, 70, 0.1);
  width: 500px;
  border-radius: 15px;
}
.top-nav-bar form input, .top-nav-bar form select {
  height: 3rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: "Nunito";
  color: gray;
  font-size: 1.1rem;
}
.top-nav-bar form input {
  width: 260px;
  margin-left: 34px;
  padding: 10px;
}
.top-nav-bar form .search-icon {
  transform: translate(105%, 25%);
}
.top-nav-bar form select {
  width: 110px;
  margin-left: 24px;
}
.top-nav-bar .home-pages {
  display: flex;
  list-style-type: none;
  margin-left: 170px;
  font-weight: 700;
  font-size: 1.1rem;
}
.top-nav-bar .home-pages a {
  color: black;
  text-decoration: none;
}
.top-nav-bar .home-pages select {
  border: none;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 35px;
}
.top-nav-bar .nav-icons {
  margin-left: 250px;
}
.top-nav-bar .nav-icons .n-icon {
  margin-left: 20px;
}

.first-window {
  background-image: url(../images/banner-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 793px;
}
.first-window section {
  padding-top: 96px;
  margin-left: 20px;
}
.first-window section h1 {
  width: 724px;
  height: 192px;
  font-size: 5rem;
  font-family: "Inter";
  font-weight: 300;
  letter-spacing: -3.2px;
}
.first-window section h2 {
  margin-top: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.48px;
  width: 420px;
  height: 48px;
  color: rgb(116, 116, 116);
  font-weight: 500;
}
.first-window section .organic {
  color: rgb(107, 178, 82);
  font-weight: 700;
}
.first-window section .doorsteps {
  font-weight: 700;
  color: rgb(33, 37, 41);
}
.first-window section button {
  margin-top: 32px;
  border-radius: 40px;
  height: 57.6px;
  font-size: 1rem;
  font-family: "Inter";
}
.first-window section .startshop-btn {
  width: 189.6px;
  background-color: rgb(107, 178, 82);
  color: #fff;
  border: none;
}
.first-window section .startshop-btn:hover {
  cursor: pointer;
  background-color: rgb(247, 164, 34);
  transition: 0.2s;
}
.first-window section .joinnow-btn {
  margin-left: 21.16px;
  width: 133.6px;
  border: none;
  background-color: rgb(33, 37, 41);
  color: #fff;
}
.first-window section .joinnow-btn:hover {
  cursor: pointer;
  background-color: rgb(66, 70, 73);
  transition: 0.2s;
}
.first-window section ul {
  display: flex;
  margin-top: 48px;
  list-style-type: none;
  font-family: "Inter";
}
.first-window section li {
  font-size: 40px;
  font-weight: 700;
}
.first-window section .li-item {
  display: flex;
}
.first-window section p {
  width: 100px;
  margin-left: 23px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-right: 42px;
  font-size: 16px;
}
.first-window section .xli-item p {
  width: 180px;
  transform: translateX(-11%);
}

/*# sourceMappingURL=styles.css.map */
